# Revision & Basic Statistics

This notebook contains some programming exercises which will equip you with the programming skills that you require for the workshops ahead. Do not be afraid to make mistakes. Making mistakes while coding is perfectly normal. It is more important for you to learn how to rectify those mistakes. If you are stuck in any of the exercises, you can try to search for similar solutions online and also ask your friends or the facilitator for help.

Lists are like variables that let you store more than one value.

Before we start coding, here a quick revision on important properties about lists:
1. Lists are wrapped in square brackets []
2. Lists can contain strings, integers, floats, Booleans or any combination of these.
3. Items in a list are separated by commas ,

With the 3 properties in mind, let's start coding!
Look at the code below and try running it.

In [ ]:
# Create a empty list 
sampleList = #yourcodehere
print ("Empty List: ", #yourcodehere)

In [ ]:
#.append() is a function that allows you to add values to a list
sampleList.append("Bob")
print ("Bob should appear in the list:", sampleList)

In [ ]:
# List can contain strings, integers, floats, boolean or any combination of it
sampleList.append(False)
sampleList.append(9)
sampleList.append(10.5)
print ("List can contains different data types and items in a list are separated by commas: ", sampleList)

Here's a practice question!

1. Assign the following numbers to a list, X1 in the cell below. The numbers are 4, 1, 5, 7.
2. Now, change the 3rd number from 5 to 10. Print X1 to confirm that you have changed the number.
3. Add a value of 2 to all the items in the list in the cell below. Print X1 again to confirm the addition.

In [ ]:
# TODO: Assign numbers (4,1,5,7) to a list, X1.
X1 = [#yourcodehere]
print(X1)

# TODO: Change the 3rd number, 5, to 10 and then print the list again. 
#yourcodehere

print(X1)

# TODO: Add a value of 2 to all the items in the list. (HINT: Use a for loop!)
#yourcodehere

print(X1)

Expected results:
1. [4, 1, 5, 7]
2. [4, 1, 10, 7]
3. [6, 3, 12, 9]

Let's try apply basic statistics we've just learnt into python.
Here are your challenge questions!
1. Find the mean of the data provided.
2. Find the median of the data provided.
3. Find the mode of the data provided.

Raise your hands once you've completed exercise, the instructor will come around to look at the code!
Once you are done, feel free to help your peers around you to conquer the challenge, but do not give them the answers!

In [ ]:
# Here's the dataset for the challenge questions:
dataset = [2, 1, 1, 4, 5, 8, 12, 4, 3, 8, 21, 1, 18, 5]

# TODO: Find the mean of the data provided.
# Step 1: Find out the number of items in the list.
number_of_items = #yourcodehere

print(number_of_items)

# Step 2: Find out the sum of items in list. Try doing this with the loop function. 
sum_of_items = 0
#yourcodehere

print(sum_of_items)

# Step 3: Find the mean
mean = #yourcodehere

print(mean)

In [ ]:
# TODO: Find the median of the data provided. (HINT: Rearrange the items in the list)
# Step 1: Rearrange the items in the list in ascending order, i.e. (1,1,1,2,3,4,4,5,5,8,8,12,18,21)

#yourcodehere
print(dataset)

# Step 2: Find the middle index
middle_index = #yourcodehere

print (middle_index)

# Step 3: Find median
median = #yourcodehere

print (median)

In [ ]:
# TODO: Find the mode of the data provided. (HINT: Use max())
mode = #yourcodehere

print (mode)

# Data Visualization with Python

## Introduction

Data visualization is part of data exploration, which is a critical step in the AI cycle. You will use this technique to gain understanding and insights to the data you have gathered, and determine if the data is ready for further processing or if you need to collect more data or clean the data. 

You will also use this technique to present your results. 

In this notebook, we will focus on data visualization using the matplotlib library, a popular data visualization library in Python. 

## Context

We will be working with Jaipur weather data obtained from [Kaggle](https://www.kaggle.com/rajatdey/jaipur-weather-forecasting/version/2), a platform for data enthusiasts to gather, share knowledge and compete for many prizes!

The data has been cleaned and simplified, so that we can focus on data visualization instead of data cleaning. 

## Data in agriculture

Imagine that you are a farmer. What would be your main concerns? You want to have the best conditions for your crops to grow and bear good yield. 

The weather is a crucial factor to the success of your farm (unless you are running an [indoor farm](https://www.nanalyze.com/2019/01/indoor-farming-agriculture-indoors/) ). Thankfully, you can more easily find weather data now with the prevalence of sensor technology. There are also numerous open data sources out there for you to collect your weather data. 

- [India open data source](https://data.gov.in/keywords/weather)
- [Korea open data source](https://www.data.go.kr/e_main.jsp#/L21haW4=)
- [Poland open data source](https://index.okfn.org/place/pl/)

Alright, you have obtained your data (JaipurFinalCleanData.csv). This file contains weather information of Jaipur.

What do you do next?

### Side note: What is csv?

CSV (Comma-Separated Value) is a file containing a set of data, separated by [commas](http://w3c.github.io/csvw/use-cases-and-requirements/egypt-referendum-2012-result-csv-in-textwrangler.png).

We usually access these files using spreadsheet applications such as Excel or Google Sheet. Do you know how this is done?

Today, we will learn how to use Python to open csv files.

## Use Python to open csv files

We will use the [pandas](https://pandas.pydata.org/) library to work with our dataset. Pandas is a popular Python library for data science. It offers powerful and flexible data structures to make data manipulationa and analysis easier. 

## Import Pandas

In [ ]:
import pandas as pd #import pandas as pd means we can type "pd" to call the pandas library

Now that we have imported pandas, let's start by reading the csv file.

## Mounting Gdrive & Importing Data

For accessing files on colab we must mount the drive using the code below and then enter the correct path for the file in the drive so as to access it.

In [ ]:
from google.colab import drive #After running this code sign in using your Google account in which you have uploaded the "JaipurFinalCleanData.csv" file. 
drive.mount('/content/drive')#Once done copy the authorisation code and paste it in the box below

In [ ]:
#saving the csv file into a variable which we will call data frame
dataframe = pd.read_csv('/content/drive/My Drive/JaipurFinalCleanData.csv') #in case of error check if the file path is correct or not

## Exploring our data

Great! We have now a variable to contain our weather data. Let's explore our data. Use the .head() function to see the first few rows of data.

In [ ]:
#dataframe.head() means we are getting the first 5 rows of data
# try running it to see what data is in the jaipur csv file
print (dataframe.head())

         date  mean_temperature  max_temperature  min_temperature  \
0  2016-05-04                34               41               27
1  2016-05-05                31               38               24
2  2016-05-06                28               34               21
3  2016-05-07                30               38               23
4  2016-05-08                34               41               26

   Mean_dew_pt  mean_pressure  max_humidity  min_humidity  max_dew_pt_1  \
0            6        1006.00            27             5            12
1            7        1005.65            29             6            13
2           11        1007.94            61            13            16
3           13        1008.39            69            18            17
4           10        1007.62            50             8            14

   max_dew_pt_2  min_dew_pt_1  min_dew_pt_2  max_pressure_1  max_pressure_2  \
0            10            -2            -2            1009            1008
1            12             0            -2            1008            1009
2            13             6             0            1011            1008
3            16             9             6            1011            1011
4            17             6             9            1010            1011

   min_pressure_1  min_pressure_2  rainfall
0            1000            1001       0.0
1            1001            1000       0.0
2            1003            1001       5.0
3            1004            1003       0.0
4            1002            1004       0.0

### Task 1: Display the first 10 rows of data by modifying the function above

In [ ]:
#yourcodehere

         date  mean_temperature  max_temperature  min_temperature  \
0  2016-05-04                34               41               27
1  2016-05-05                31               38               24
2  2016-05-06                28               34               21
3  2016-05-07                30               38               23
4  2016-05-08                34               41               26
5  2016-05-09                34               42               27
6  2016-05-10                34               41               27
7  2016-05-11                32               40               25
8  2016-05-12                34               42               27
9  2016-05-13                34               42               26

   Mean_dew_pt  mean_pressure  max_humidity  min_humidity  max_dew_pt_1  \
0            6        1006.00            27             5            12
1            7        1005.65            29             6            13
2           11        1007.94            61            13            16
3           13        1008.39            69            18            17
4           10        1007.62            50             8            14
5            8        1006.73            32             7            12
6           11        1005.75            45             7            16
7           16        1007.10            51            12            18
8           16        1006.78            66            16            22
9           13        1003.83            58             9            20

   max_dew_pt_2  min_dew_pt_1  min_dew_pt_2  max_pressure_1  max_pressure_2  \
0            10            -2            -2            1009            1008
1            12             0            -2            1008            1009
2            13             6             0            1011            1008
3            16             9             6            1011            1011
4            17             6             9            1010            1011
5            14             6             6            1010            1010
6            12             7             6            1008            1010
7            16            13             7            1010            1008
8            18            10            13            1011            1010
9            22            10            10            1007            1011

   min_pressure_1  min_pressure_2  rainfall
0            1000            1001       0.0
1            1001            1000       0.0
2            1003            1001       5.0
3            1004            1003       0.0
4            1002            1004       0.0
5            1002            1002       0.0
6            1000            1002       0.3
7            1002            1000       0.8
8            1001            1002       2.0
9             998            1001       0.3

Now that you have listed the first few rows of the data, what do you notice?
- What headers are there? If you are not sure, look them up online!
- Does the values recorded make sense to you?

### Find out your data type

You can use dtypes to find out the type of data (i.e. string, float, integer) you have.

In [ ]:
dataframe.dtypes

date                 object
mean_temperature      int64
max_temperature       int64
min_temperature       int64
Mean_dew_pt           int64
mean_pressure       float64
max_humidity          int64
min_humidity          int64
max_dew_pt_1          int64
max_dew_pt_2          int64
min_dew_pt_1          int64
min_dew_pt_2          int64
max_pressure_1        int64
max_pressure_2        int64
min_pressure_1        int64
min_pressure_2        int64
rainfall            float64
dtype: object

### Side notes: Find out about a function
Some times, we encounter a function we are not familiar with. We can use the help function within Jupyter to obtain more information about a function: It's functions, expected input, parameters and output. It will even give you examples on how to use the function! Let's try it with the .head() function.

In [ ]:
dataframe.head?

What do you notice? What are the parameters involved? What are the outputs generated?

### Task 2: What does dtypes do?
Use the help function ? to find out what dtypes is for

In [ ]:
#yourcodehere

What do you notice? What are the parameters involved? What are the outputs generated?

## Choosing only dataset we are interested in.

Let's see all the headers that we have first and consider which dataset we want to work with for now. 
### Task 3: list down the headers from the dataset

In [ ]:
dataframe.dtypes

date                 object
mean_temperature      int64
max_temperature       int64
min_temperature       int64
Mean_dew_pt           int64
mean_pressure       float64
max_humidity          int64
min_humidity          int64
max_dew_pt_1          int64
max_dew_pt_2          int64
min_dew_pt_1          int64
min_dew_pt_2          int64
max_pressure_1        int64
max_pressure_2        int64
min_pressure_1        int64
min_pressure_2        int64
rainfall            float64
dtype: object

Looks like there are 16 columns in this dataset and we don't need all of them for the purposes of this activity. One way to go about doing this, is to drop the columns that we don't need. Pandas provide an easy way for us to drop columns using the ".drop" function.

In [ ]:
dataframe = dataframe.drop(["max_dew_pt_2"], axis=1)

Let's print to ensure that the columns are dropped, try printing them with head() or dtypes.

In [ ]:
dataframe.dtypes

date                 object
mean_temperature      int64
max_temperature       int64
min_temperature       int64
Mean_dew_pt           int64
mean_pressure       float64
max_humidity          int64
min_humidity          int64
max_dew_pt_1          int64
min_dew_pt_1          int64
min_dew_pt_2          int64
max_pressure_1        int64
max_pressure_2        int64
min_pressure_1        int64
min_pressure_2        int64
rainfall            float64
dtype: object

### Task 4: Drop the following columns: (min_dew_pt_2, max_pressure_2, min_pressure_2)

In [ ]:
#yourcodehere

### Task 5: Now check again if these columns have beeen dropped

In [ ]:
#yourcodehere

date                 object
mean_temperature      int64
max_temperature       int64
min_temperature       int64
Mean_dew_pt           int64
mean_pressure       float64
max_humidity          int64
min_humidity          int64
max_dew_pt_1          int64
min_dew_pt_1          int64
max_pressure_1        int64
min_pressure_1        int64
rainfall            float64
dtype: object

Great! We can now focus on this set of data!

## Sorting values using pandas

Many times, you want to have a sense of range of data to help you understand more about it. Another feature of pandas dataframe is sorting of values. You can do so by using the sort_values() function.

In [ ]:
jaipur_weather = dataframe.sort_values(by='date',ascending = False)
print(jaipur_weather.head(5))

           date  mean_temperature  max_temperature  min_temperature  \
675  2018-03-11                26               34               18
674  2018-03-10                26               34               19
673  2018-03-09                26               33               19
672  2018-03-08                24               32               15
671  2018-03-07                24               32               15

     Mean_dew_pt  mean_pressure  max_humidity  min_humidity  max_dew_pt_1  \
675            4        1013.76            38             6             8
674            3        1014.16            37             8             6
673            1        1014.41            42             7             5
672            2        1014.07            55             5             8
671            4        1015.39            48             6             9

     min_dew_pt_1  max_pressure_1  min_pressure_1  rainfall
675             0            1017            1009       0.0
674            -1            1017            1009       0.0
673            -5            1017            1011       0.0
672            -6            1017            1011       0.0
671            -3            1018            1012       0.0

What do you notice from the number? Look at the date. Can you see how the function help us sort data based on the date?

### Task 6: Sort the values in ascending order of mean temperature and print the first 5 rows

In [ ]:
#yourcodehere

           date  mean_temperature  max_temperature  min_temperature  \
252  2017-01-11                10               18                3
253  2017-01-12                12               19                4
254  2017-01-13                12               20                4
255  2017-01-14                12               20                5
258  2017-01-17                12               20                5

     Mean_dew_pt  mean_pressure  max_humidity  min_humidity  max_dew_pt_1  \
252            3        1017.00            94            17             9
253           -3        1017.54            70            13             2
254           -5        1017.24            75             4             2
255           -1        1017.75            70            10             1
258            3        1017.35            74            15             7

     min_dew_pt_1  max_pressure_1  min_pressure_1  rainfall
252            -5            1019            1015       0.0
253            -7            1020            1015       0.0
254           -93            1020            1015       0.0
255            -8            1020            1016       0.0
258            -2            1019            1015       0.0

Look at the max and min temperature! See the range of temperature that one can experience within a day. 

### Task 7: Sort the values in descending order of mean temperature and print the first 5 rows

In [ ]:
#yourcodehere

          date  mean_temperature  max_temperature  min_temperature  \
32  2016-06-05                38               45               31
15  2016-05-19                38               46               29
31  2016-06-04                38               44               31
34  2016-06-07                38               45               30
35  2016-06-08                38               44               31

    Mean_dew_pt  mean_pressure  max_humidity  min_humidity  max_dew_pt_1  \
32            5        1004.67            27             4            18
15           11         999.88            45             5            17
31           13        1004.93            34            10            18
34           13        1003.29            51             5            21
35           12        1002.83            47             4            22

    min_dew_pt_1  max_pressure_1  min_pressure_1  rainfall
32             2            1007             999       0.0
15             6            1002             994       0.0
31             7            1008             999       0.0
34             5            1007             997       0.0
35             2            1006             996       0.0

See how the temperature ranges within a year? 10C to 38C! 

Now we have a clearer picture of our dataset. Using these functions, we can analyze our data and gain insights of them. 

However, we want to get an even better picture. We want to learn how to explore these data visually. 

We will learn how to use the matplotlib library to help us with data visualization in Python in the next session!