# **Getting Started with Python!**

##  What is Python ?

Python is a popular programming language that is reliable, flexible, easy to learn, free to use on all operating systems, and supported by both a strong developer community and many free libraries (Libraries are pre-written codes that developers use to solve common programming tasks).

Python supports all manners of development, including web applications, web services, desktop apps, scripting, data science, scientific computing, and Jupyter notebooks. Python is a language used by many universities, scientists, casual developers, and professional developers alike.

Python is a **high level programming Language**. This simply means that the commands used in Python are understandable by humans. These commands are then converted into machine code by using an interpreter.

You can learn more about the language on [python.org](https://www.python.org/) and [Python for Beginners](https://www.python.org/about/gettingstarted/)..

##  Why use Python for learning AI ?

Python is more often than not the top most choice for Machine Learning Applications. The main reason for this is the amount of **simplicity, consistency and stability** Python code can bring to AI workflows. 

The simplest of AI workflows require extensive mathematical functions running in the background. The wide variety of stable and user friendly **libraries** like Scikit-Learn (used for handling basic ML algorithms like clustering, linear and logistic regressions, etc.), Matplotlib (used for creating bar charts, histrograms and other data visualizations) etc provide great support for building scalable and efficient code. 

Another reason why python is easy to use is that you **don't need to declare variable types** unlike other programming languages. (Example let's say you have a variable type called roll number used for storing the roll number of a student. In python you don't need to explicitly mention in other words declare that roll number is an integer type variable.)

Now that we have understood why we have chosen Python as our programming language, let's get started with basic commands we will come across frequently in our AI journey!

## Comments

Many of the examples in this notebook include comments. Comments in Python start with the hash character, `#`, and extend to the end of the physical line. A comment may appear at the start of a line or following whitespace or code, but not within a string literal. A hash character within a string literal is just a hash character. Since comments are to clarify code and are not interpreted by Python, they may be omitted when typing in examples.

Some examples:

In [ ]:
# this is the first comment
number = 1  # and this is the second comment
          # ... and now a third!
Welcome = "Hi welcome to the AI4Y Program!" 
print(Welcome) #This is the 'print' Command

Hi welcome to the AI4Y Program!

# Explore Data Types in Python!

Although we donâ€™t have to declare type for python variables, a value does have a type. Python supports the following Python data types:
1. Numbers
2. Strings
3. Lists
4. Tuples
5. Dictionary

## Numbers

The Python interpreter can act as a simple calculator: type an expression at it outputs the value.

Expression syntax is straightforward: the operators `+`, `-`, `*` and `/` work just like in most other programming languages (such as Pascal or C); parentheses (`()`) can be used for grouping and order or precedence. For example:

In [ ]:
56 + 28

84

The integer numbers (e.g. `2`, `4`, `20`) have type [`int`](https://docs.python.org/3.5/library/functions.html#int), the ones with a fractional part (e.g. `5.0`, `1.6`) have type [`float`](https://docs.python.org/3.5/library/functions.html#float).

The major difference is float can be used for both integers and decimals. 

We can use the type() function to find which data type a variable belongs to.

In [ ]:
roll_number = 1234
marks = 52.5
print ("Datatype for roll_number is",type(roll_number))
print ("Datatype for marks is",type(marks)) #Notice that we did not declare either of the variables with a particular datatype

Datatype for roll_number is <class 'int'>
Datatype for marks is <class 'float'>

Division (`/`) always returns a float. To do [floor division](https://docs.python.org/3.5/glossary.html#term-floor-division) and get an integer result (discarding any fractional result) you can use the `//` operator; to calculate the remainder you can use `%`:

In [ ]:
13 / 5  # Division using the '/' operator returns a float.

2.6

In [ ]:
13 // 5  # Floor division (division which uses the '//' operator) discards the fractional part.

2

In [ ]:
13 % 5  # The '%' operator returns the remainder of the division.

3

Use the `**` operator to calculate powers:

In [ ]:
12**2 # This will print the square of '12'

144

In [ ]:
2**6 # This will print 2 to the power 6

64

`**` has higher precedence than `-`; if you want a negative base, use parentheses:

In [ ]:
-4**2 #Result will be same as -(4**2)

-16

In [ ]:
(-4)**2

16

The equal sign (`=`) is used for assigning values to a variable

In [ ]:
weight = 50
total_people =12
weight * total_people

600

If a variable is not defined (i.e assigned a value) then using it results in an error

In [ ]:
n # Accessing an undefined variable.

NameError: name 'n' is not defined

In addition to `int` and `float`, Python supports other types of numbers, such as [`Decimal`](https://docs.python.org/3.5/library/decimal.html#decimal.Decimal) and [`Fraction`](https://docs.python.org/3.5/library/fractions.html#fractions.Fraction). Python also has built-in support for [complex numbers](https://docs.python.org/3.5/library/stdtypes.html#typesnumeric), and uses the `j` or `J` suffix to indicate the imaginary part (e.g. `3+5j`).

## Strings

Strings are a sequence of characters. Besides numbers, Python can also manipulate strings. Strings can enclosed in single quotes ('...') or double quotes ("...") with the same result. Use \ to escape quotes, that is, to use a quote within the string itself:

In [ ]:
string="What skills have you learnt today ?"
type(string)

str

In [ ]:
'Learn Python for AI' # Using Single Quotes

'Learn Python for AI'

In [ ]:
'Isn\'t this fun?' # Use \' to escape the single quote...

"Isn't this fun?"

In [ ]:
"Isn't this fun? "# ...or use double quotes instead.

"Isn't this fun? "

In the interactive interpreter and Jupyter notebooks, the output string is enclosed in quotes and special characters are escaped with backslashes. Although this output sometimes looks different from the input (the enclosing quotes could change), the two strings are equivalent. The string is enclosed in double quotes if the string contains a single quote and no double quotes, otherwise its enclosed in single quotes. The [`print()`](https://docs.python.org/3.6/library/functions.html#print) function produces a more readable output by omitting the enclosing quotes and by printing escaped and special characters:

In [ ]:
'"Isn\'t this fun?," she said.'

'"Isn\'t this fun?," she said.'

In [ ]:
print('"Isn\'t this fun?," she said.')

"Isn't this fun?," she said.

In [ ]:
s = 'First line.\nSecond line.'  # \n means newline.
s  # Without print(), \n is included in the output.

'First line.\nSecond line.'

In [ ]:
print(s)  # With print(), \n produces a new line.

First line.
Second line.

If you don't want escaped characters (prefaced by \) to be interpreted as special characters, use raw strings by adding an r before the first quote:

In [ ]:
print('C:\some\name')  # Here \n means newline!

C:\some
ame

In [ ]:
print(r'C:\some\name')  # Note the r before the quote.

C:\some\name

Because Python doesn't provide a means for creating multi-line comments, developers often just use triple quotes for this purpose. In a Jupyter notebook, however, such quotes define a string literal which appears as the output of a code cell:

In [ ]:
"""
Everything between the first three quotes, including new lines,
is part of the multi-line comment. Technically, the Python interpreter
simply sees the comment as a string, and because it's not otherwise
used in code, the string is ignored. Convenient, eh?
"""

"\nEverything between the first three quotes, including new lines,\nis part of the multi-line comment. Technically, the Python interpreter\nsimply sees the comment as a string, and because it's not otherwise\nused in code, the string is ignored. Convenient, eh?\n"

For this reason, it's best in notebooks to use the # comment character at the beginning of each line, or better still, just use a Markdown cell!

Strings can be concatenated (added together) with the + operator, and repeated with *:

In [ ]:
# 2 times 'jo', followed by 'rabbit'
2 * 'jo' + 'rabbit'

'jojorabbit'

Two or more *string literals* (that is, the values enclosed in quotes) placed next to each other are automatically concatenated:

In [ ]:
'Data' 'Science'

'DataScience'

Automatic concatenation works only with two literals; it does not work with variables or expressions, so the following cell produces an error:

In [ ]:
prefix = 'Data'
prefix 'Science'  # Can't concatenate a variable and a string literal.

SyntaxError: invalid syntax (<ipython-input-26-d7b7a9a8b7d5>, line 2)

To concatenate variables, or a variable and a literal, use `+`:

In [ ]:
prefix = 'Data'
prefix + 'Science'

'DataScience'

Automatic concatenation is particularly useful when you want to break up long strings:

In [ ]:
word = ('Put several strings within parentheses '
            'to have them joined together.')
word

'Put several strings within parentheses to have them joined together.'

Strings can be *indexed* (subscripted), with the first character having index 0. There is no separate character type; a character is simply a string of size one:

In [ ]:
word = 'Python'
word[0]  # Character in position 0.

'P'

In [ ]:
word[5]  # Character in position 5.

'n'

Indices may also be negative numbers, which means to start counting from the end of the string. Note that because -0 is the same as 0, negative indices start from -1:

In [ ]:
word[-1]  # Last character.

'n'

In [ ]:
word[-2]  # Second-last character.

'o'

In addition to indexing, which extracts individual characters, Python also supports *slicing*, which extracts a substring. To slide, you indicate a *range* in the format `start:end`, where the start position is included but the end position is excluded:

In [ ]:
word[0:2]  # Characters from position 0 (included) to 2 (excluded).

'Py'

In [ ]:
word[2:5]  # Characters from position 2 (included) to 5 (excluded).

'tho'

If you omit either position, the default start position is 0 and the default end is the length of the string:

In [ ]:
word[:2]   # Character from the beginning to position 2 (excluded).

'Py'

In [ ]:
word[4:]  # Characters from position 4 (included) to the end.

'on'

In [ ]:
word[-2:] # Characters from the second-last (included) to the end.

'on'

One way to remember how slices work is to think of the indices as pointing between characters, with the left edge of the first character numbered 0. Then the right edge of the last character of a string of *n* characters has index *n*. For example:

+---+---+---+---+---+---+
| P | y | t | h | o | n |
+---+---+---+---+---+---+
0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

The first row of numbers gives the position of the indices 0...6 in the string; the second row gives the corresponding negative indices. The slice from *i* to *j* consists of all characters between the edges labeled *i* and *j*, respectively.

For non-negative indices, the length of a slice is the difference of the indices, if both are within bounds. For example, the length of `word[1:3]` is 2.

Attempting to use an index that is too large results in an error:

In [ ]:
word[36]  # The word only has 6 characters.

IndexError: string index out of range

However, when used in a range, an index that's too large defaults to the size of the string and does not give an error. This characteristic is useful when you always want to slice at a particular index regardless of the length of a string:

In [ ]:
word[4:36]

'on'

Strings are immutable which means they do not support assignment of a new value to an indexed postion. To know more on what immutable means, check this [link](https://docs.python.org/3.5/glossary.html#term-immutable). Let's check the example below to understand it in practise

In [ ]:
word[2]='a'

TypeError: 'str' object does not support item assignment

The following cell also produces an error:

In [ ]:
word[2:] = 'py'

TypeError: 'str' object does not support item assignment

A slice it itself a value that you can concatenate with other values using `+`:

In [ ]:
'J' + word[1:]

'Jython'

In [ ]:
word[:2] + 'Py'

'PyPy'

A slice, however, is not a string literal and cannot be used with automatic concatenation. The following code produces an error:

In [ ]:
word[:2] 'Py'    # Slice is not a literal; produces an error

SyntaxError: invalid syntax (<ipython-input-44-60be1c701626>, line 1)

The built-in function [`len()`](https://docs.python.org/3.5/library/functions.html#len) returns the length of a string:

In [ ]:
text = 'Using Python for data science is fun'
len(text) #Notice that even the spaces are counted in the length

36

# Lists

A list is an ordered sequence of items. Remember, it may contain different types of items. 
To define a list, you must put values separated with commas in square brackets.

In [ ]:
Students=['Vicky',25,'Jun Kai',12] # Here the name of the student is stored with their respective roll numbers 
type(Students)

list

Lists are mutable unlike Strings. Like strings (and all other built-in [sequence](https://docs.python.org/3.5/glossary.html#term-sequence) types), lists can be indexed and sliced:

In [ ]:
Students[0]  # Indexing returns the item.

'Vicky'

In [ ]:
Students[-1]

12

In [ ]:
Students[-3:]  # Slicing returns a new list.

[25, 'Jun Kai', 12]

In [ ]:
Students[:]

['Vicky', 25, 'Jun Kai', 12]

Lists also support concatenation with the `+` operator:

In [ ]:
Students + ['Gabrielle',13, 'Cao', 47]

['Vicky', 25, 'Jun Kai', 12, 'Gabrielle', 13, 'Cao', 47]

As mentioned at the start, unlike strings, which are immutable, lists are a mutable type, which means you can change any value in the list:

In [ ]:
Students=['Vicky',25,'Jun Kai',12] #Something is wrong here....
#Vicky's roll number is 10

In [ ]:
Students[1]=10 #correcting the wrong value
Students

['Vicky', 10, 'Jun Kai', 12]

Use the list's `append()` method to add new items to the end of the list:

In [ ]:
Students.append('Isaac') #Note you can only add one argument at a time 
Students

['Vicky', 10, 'Jun Kai', 12, 'Isaac']

In [ ]:
Students.append(15) #Adding the second argument
Students

['Vicky', 10, 'Jun Kai', 12, 'Isaac', 15]

You can even assign to slices, which can change the size of the list or clear it entirely:

In [ ]:
#Replace some values
Students[2:5]=['Ming Ian', 21]
Students

['Vicky', 10, 'Ming Ian', 21, 15]

In [ ]:
# Now remove them.
Students[2:5] = []
Students

['Vicky', 10]

The built-in len() function also applies to lists:

In [ ]:
len(Students)

2

You can nest lists, which means to create lists that contain other lists. For example:

In [ ]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [ ]:
x[0]

['a', 'b', 'c']

In [ ]:
x[0][1]

'b'

# Tuples

A tuple is an ordered sequence of items. You might be wondering now then how is it different from lists?

The main differences between tuples and lists are : 
1. Tuples cannot be modified element wise like lists (Objects which cannot be modified in such a manner are described as **immutable** objects. 
2. Tuples use parentheses, whereas lists use square brackets.

In [ ]:
Students_new = ('Susan',25,'John',12) #Tuple being defined
print(Students_new)

('Susan', 25, 'John', 12)

In [ ]:
Students_new[1]= '26'
print(Students_new) #Notice the error which shows up in the output

TypeError: 'tuple' object does not support item assignment

# Dictionary

Dictionary is an unordered collection of key-value pairs.

In Python, dictionaries are defined within braces {} with each item being a pair in the form **key:value**. Key and value can be of any type.

A Dictionary in Python works similar to the Dictionary in a real world. Keys of a Dictionary must be unique and
of immutable data type such as Strings, Integers and tuples, but the key-values can be repeated and be of any type.

In [ ]:
Time={'Day':'Monday','Date':[1,2,3]}
type(Time)
Time['Day'] #Using key to display respective value

'Monday'

In [ ]:
Time['Monday'] #Reverse cannot be done, i.e using value one cannot display key

KeyError: 'Monday'

# Type-Conversion in Python

As the name suggests, type-conversion in Python is the process of converting one data type to another. This can be done into two ways :

**1. Implicit Type Conversion** - In this type of type-conversion, Python automatically converts one data-type to another data-type. The user need not give specific instructions for carrying this conversion out. 

**2. Explicit Type Conversion** - In Explicit type-conversion, the user sets preference from converting one data-type to another desired data-type.

In [ ]:
integer = 150
float_n = 1.55

add = integer + float_n

print("datatype of integer:",type(integer))
print("datatype of float_n:",type(float_n))

print("Value of add:",add)
print("datatype of add:",type(add))

datatype of integer: <class 'int'>
datatype of float_n: <class 'float'>
Value of add: 151.55
datatype of add: <class 'float'>

In the above example we can clearly see how python implicitly set up the data-type of the variable 'add'. Let's try adding a string and an integer to see what happens!

In [ ]:
string = '300'
new = integer + string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
integer = 150
string = "300"

print("Data type of integer:",type(integer))
print("Data type of string before explicit conversion:",type(string))

string = int(string)
print("Data type of string after explicit conversion:",type(string))

new = integer + string

print("Sum of integer and string:",new)
print("Data type of the sum:",type(new))

Data type of integer: <class 'int'>
Data type of string before explicit conversion: <class 'str'>
Data type of string after explicit conversion: <class 'int'>
Sum of integer and string: 450
Data type of the sum: <class 'int'>

Explicit type conversion is also known as **"Typecasting"**. The major difference between them is the **involvement of the user** and the fact that in implicit conversion, Python gives **preference to data type which would avoid data loss**. For example if we are adding a float with an int type the result would always be float else the sum would get truncated if the result is converted into int, thus resulting in loss of data.

# **Functions in Python**

In programming we often come across situations where a particular block of code needs to be repeated or reused. Thus the concept of functions comes into play. A function is basically a block of code which performs a specific task.

Functions make the entire code look more organised and manageable. They allow reusability of code and organise the program into small modular chunks.

**Syntax of a Function**

In [ ]:
def name_of_function(parameter):
    statements

The above example illustrates how a function typically looks like. Notice it contains three parts -
1. Keyword def that marks the start of the function header.
2. A unique function name which helps in identifying the function.
3. Parameters which help us in passing values through the function. They are also known as arguments and are optional.
4. Statements consist of the code which performs the specific task for which the function is defined.

In [ ]:
def sum(x, y): #This example shows a function which can add two numbers x & y
    s = x+y
    return s

**Function Call**

In [ ]:
num_1 = 27
num_2 = 23
print (sum(num_1,num_2)) #Notice how the two numbers are passed into the 'sum' function

50

Functions can be user-defined or built-in. Can you point out an example of each?

In [ ]:
#write your answer here

Write a function in Python to convert celsius Scale to Fahrenheit Scale

In [ ]:
#Write your answer here

# Modules in Python

Modules refer to a file containing Python statements and definitions.

A file containing Python code, for example: test.py, is called a module, and its module name would be test.

We use modules to break down large programs into small manageable and organized files. Furthermore, modules provide reusability of code.

We can define our most used functions in a module and import it, instead of copying their definitions into different programs.

In [ ]:
# import statement example
# to import standard module math

import math
print("The value of pi is", math.pi)

The value of pi is 3.141592653589793

# Packages in Python

We often use a well organised directory to store folders & files in our computer. Similarly in python we often organise a group of modules together in a package. This heirarchy of organisation is analogous to a directory consisting of folders and files where you can considrer a package to be analogous to a folder whereas a module is analogous to a file. 

Just like a folder contains multiple files a package can contain multiple modules.

As our program grows larger in size with a lot of modules, we group similar modules in one package and different modules in different packages. This makes a program easy to manage and conceptually clear.

A directory must contain a file named __init__.py in order for Python to consider it as a package. This file can be left empty but we generally place the initialization code for that package in this file.

In [ ]:
import numpy as np #Numpy is a popular package for scientific and mathematical computing in Python. In the example below we are adding 2 2*2 matrices

a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6], [7, 8]])
print(a+b)

[[ 6  8]
 [10 12]]

# Flow Control in Python

In general, statements are executed sequentially: The first statement in a function is executed first, followed by the second, and so on. There may be a situation when you need to execute a block of code several number of times.

Programming languages provide various control structures that allow for more complicated execution paths.

A loop statement allows us to execute a statement or group of statements multiple times.

For further info check this [link](https://www.tutorialspoint.com/python/python_loops.htm)

**If-Else Statement**

In [ ]:
a,b=2,3
if a>b:
    print("a")
else:
    print("b")

b

In [ ]:
a=7
if a>6:
     print(f"{a} is good")

7 is good

**While Loop**

A while loop in python iterates till its condition becomes False. In other words, it executes the statements under itself while the condition it takes is True. When the program control reaches the while loop, the condition is checked. If the condition is true, the block of code under it is executed. Remember to indent all statements under the loop equally. After that, the condition is checked again. This continues until the condition becomes false. Then, the first statement, if any, after the loop is executed.

In [ ]:
a=-3 #See how the output changes if you assign some other value to a
while(a>0):
    print(a)
    a=1
    if a==1:
        break
else:
    print("Reached")

Reached

**For Loop**

Executes a sequence of statements multiple times and abbreviates the code that manages the loop variable. Also [see](https://data-flair.training/blogs/python-loop/)

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
lst=[0,1]

for i in range(10):
    print(lst)
    lst.append(lst[-1]+lst[-2])

[0, 1]
[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13]
[0, 1, 1, 2, 3, 5, 8, 13, 21]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
username=str(input("enter your username:")) #Try the following program and test with different conditions
pswrd=str(input("enter your password:"))
if username=="python programmer" and pswrd=="private":
    print("welcome python programmer")
elif username == "pythonCoder" and pswrd == "alpha408":
    print("Welcome pythonCoder")
elif username == "deepak" and pswrd == "lovecoding":
    print("Welcome Deepak")
elif username == "devraj" and pswrd == "lovetouring":
    print("Welcome Devraj")
elif username == "dev" and pswrd == "lovesoftwaredeveloping":
    print("Welcome Dev")
elif username == "guest" and pswrd == "guest":
    print("Welcome guest")
else:
    print("Login failed!")

enter your username:
enter your password:
Login failed!

# **Some exercises to get started!**

Write a program that asks the user for an input 'n'. Using this input to generate 'n' number of terms in the Fibonaaci Series. Think about how you could you functions here to write a cleaner code! (Hint: The Fibonacci seqence is a sequence of numbers where the next number in the sequence is the sum of the previous two numbers in the sequence. The sequence looks like this: 1, 1, 2, 3, 5, 8, 13, â€¦)

In [ ]:
#Write your code here!

Write a Program to print Pascal's Triangle

1

1 1 

1 2 1

1 3 3 1

1 4 6 4 1 

1 5 10 10 5 1
 
1 6 15 20 15 6 1

In [ ]:
#Write your code here!